.image-preview {
  position: relative;
}

.image-preview__hover {
  display: none;
  position: absolute;
  top: 64px;
  left: 64px;
  transform: scale(2);
  z-index: 1;
}

.image-preview:hover .image-preview__hover {
  display: block;
}

.image-preview__canvas {
  background-image: url("/images/app/item_frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  border: 1px solid black;
}

.image-preview__main-canvas {
  @extend .image-preview__canvas;
}

.image-preview__large-canvas {
  @extend .image-preview__canvas;
}