.settings-tooltip {
  position: relative;
}

.settings-tooltip__name {
  text-decoration: underline dotted gray;
  text-underline-position: under;
}

.settings-tooltip__hover {
  display: none;
  position: absolute;
  background: #ffffaa;
  color: black;
  border: 1px black solid;
  white-space: nowrap;
  padding: 5px;
  z-index: 1;
}

.settings-tooltip:hover .settings-tooltip__hover {
  display: block;
}