@use 'variables';

:host {
  display: flex;
}

.settings-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  top: 0;
  left: 0;
  width: variables.$settings-panel-width;
  background: #eeeeee;
  padding: 5px;
}

.settings-panel__map-id-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
}

.settings-panel__map-id-label {
  font-size: 1.5em;
  font-weight: bold;
}

.settings-panel__map-id-filename-container {
  display: table-cell;
  vertical-align: middle;
  gap: 5px;
}

.settings-panel__map-id-filename {
  font-family: 'Courier New';
  font-weight: bold;
}

.settings-panel__map-id-input {
  width: 6em;
}

.settings-panel__settings-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.settings-panel__minecraft-settings-container {
  display: grid;
  grid-template:
    "palette-label version-select" auto
    / 1fr 1fr;
  gap: 5px;
  align-items: center;
}

.settings-panel__palette-label {
  grid-area: palette-label;
}

.settings-panel__version-select {
  grid-area: version-select;
}

.settings-panel__image-settings-container {
  display: grid;
  grid-template:
    "scale-label              scale-select            " auto
    "dithering-label          dithering-select        " auto
    "color-difference-label   color-difference-select " auto
    "transparency-label       transparency-input-text " auto
    "transparency-input-range transparency-input-range" auto
    / 1fr 1fr;
  gap: 5px;
  align-items: center;
}

.settings-panelb__scale-label {
  grid-area: scale-label;
}

.settings-panel__scale-select {
  grid-area: scale-select;
}

.settings-panelb__dithering-label {
  grid-area: dithering-label;
}

.settings-panel__dithering-select {
  grid-area: dithering-select;
}

.settings-panel__color-difference-label {
  grid-area: color-difference-label;
}

.settings-panel__color-difference-select {
  grid-area: color-difference-select;
}

.settings-panel__transparency-label {
  grid-area: transparency-label;
}

.settings-panel__transparency-input-text {
  grid-area: transparency-input-text;
}

.settings-panel__transparency-input-range {
  grid-area: transparency-input-range;
}