@use 'variables';

:host {
  display: flex;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: variables.$top-panel-height;
  padding: variables.$top-panel-padding;
  background: #121212;
  color: white;
  z-index: 1;
}

.top-panel__title {
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
}

.top-panel__links {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.top-panel__help-link {
  margin-right: 10px;
}