.upload-progress-panel {
  display: flex;
  flex-direction: column;
  background: skyblue;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.upload-progress-panel_error {
  background: lightpink;
}

.upload-progress-panel__heading-panel {
  display: flex;
  align-items: center;
}

.upload-progress-panel__heading {
  font-size: 1.17em;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.upload-progress-panel__image-filename-heading {
  @extend .upload-progress-panel__heading;
  flex-grow: 1;
  flex-basis: 0;
}

.upload-progress-panel__status-heading {
  @extend .upload-progress-panel__heading;
  padding-left: 5px;
  padding-right: 5px;
}

.upload-progress-panel__status-heading_error {
  background: yellow;
  color: red;
}

.upload-progress-panel__map-filename-heading {
  @extend .upload-progress-panel__heading;
  flex-grow: 1;
  flex-basis: 0;
  text-align: end;
}

.upload-progress-panel__main-panel {
  display: grid;
  grid-template:
    "source-image-preview preprocess-step-arrow intermediate-image-preview reduce-colors-step-arrow final-image-preview create-file-step-arrow download-box " auto
    "source-image-text    preprocess-text       intermediate-image-text    reduce-colors-text       final-image-text    create-file-text       download-text" auto
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 5px;
}

.upload-progress-panel__image-preview {
  background: white;
}

.upload-progress-panel__source-image-preview {
  @extend .upload-progress-panel__image-preview;
  grid-area: source-image-preview;
}

.upload-progress-panel__intermediate-image-preview {
  @extend .upload-progress-panel__image-preview;
  grid-area: intermediate-image-preview;
}

.upload-progress-panel__final-image-preview {
  @extend .upload-progress-panel__image-preview;
  grid-area: final-image-preview;
}

.upload-progress-panel__download-box {
  grid-area: download-box;
}

.upload-progress-panel__state-text {
  font-weight: bold;
  text-align: center;
}

.upload-progress-panel__source-image-text {
  @extend .upload-progress-panel__state-text;
  grid-area: source-image-text;
}

.upload-progress-panel__intermediate-image-text {
  @extend .upload-progress-panel__state-text;
  grid-area: intermediate-image-text;
}

.upload-progress-panel__final-image-text {
  @extend .upload-progress-panel__state-text;
  grid-area: final-image-text;
}

.upload-progress-panel__download-text {
  @extend .upload-progress-panel__state-text;
  grid-area: download-text;
}

.upload-progress-panel__preprocess-step-arrow {
  grid-area: preprocess-step-arrow;
}

.upload-progress-panel__reduce-colors-step-arrow {
  grid-area: reduce-colors-step-arrow;
}

.upload-progress-panel__create-file-step-arrow {
  grid-area: create-file-step-arrow;
}

.upload-progress-panel__step-text {
  font-style: italic;
  text-align: center;
}

.upload-progress-panel__preprocess-text {
  @extend .upload-progress-panel__step-text;
  grid-area: preprocess-text;
}

.upload-progress-panel__reduce-colors-text {
  @extend .upload-progress-panel__step-text;
  grid-area: reduce-colors-text;
}

.upload-progress-panel__create-file-text {
  @extend .upload-progress-panel__step-text;
  grid-area: create-file-text;
}