.upload-progress-panel {
  display: flex;
  flex-direction: column;
  background: skyblue;
  border: 3px double black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.upload-progress-panel__heading-panel {
  display: flex;
  align-items: center;
}

.upload-progress-panel__heading {
  font-size: 1.17em;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.upload-progress-panel__image-filename-heading {
  @extend .upload-progress-panel__heading;
  flex-grow: 1;
  flex-basis: 0;
}

.upload-progress-panel__status-heading {
  @extend .upload-progress-panel__heading;
  padding-left: 5px;
  padding-right: 5px;
}

.upload-progress-panel__status-heading_error {
  background: yellow;
  color: red;
}

.upload-progress-panel__map-filename-heading {
  @extend .upload-progress-panel__heading;
  flex-grow: 1;
  flex-basis: 0;
  text-align: end;
}

.upload-progress-panel__main-panel {
  display: grid;
  grid-template:
    "source-canvas      resize      intermediate-canvas      reduce-colors      final-canvas      create-file      download-file     " auto
    "source-canvas-text resize-text intermediate-canvas-text reduce-colors-text final-canvas-text create-file-text download-file-text" auto
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  justify-items: center;
  align-items: center;
  margin-top: 5px;
}

.upload-progress-panel__canvas {
  background: white;
}

.upload-progress-panel__source-canvas {
  @extend .upload-progress-panel__canvas;
  grid-area: source-canvas;
}

.upload-progress-panel__intermediate_canvas {
  @extend .upload-progress-panel__canvas;
  grid-area: intermediate-canvas;
}

.upload-progress-panel__final_canvas {
  @extend .upload-progress-panel__canvas;
  grid-area: final-canvas;
}

.upload-progress-panel__download-file {
  grid-area: download-file;
  font-size: 128px;
  width: 128px;
  height: 128px;
}

.upload-progress-panel__download-file-link {
  text-decoration: none;
}

.upload-progress-panel__canvas-text {
  font-weight: bold;
}

.upload-progress-panel__source-canvas-text {
  @extend .upload-progress-panel__canvas-text;
  grid-area: source-canvas-text;
}

.upload-progress-panel__intermediate-canvas-text {
  @extend .upload-progress-panel__canvas-text;
  grid-area: intermediate-canvas-text;
}

.upload-progress-panel__final-canvas-text {
  @extend .upload-progress-panel__canvas-text;
  grid-area: final-canvas-text;
}

.upload-progress-panel__download-file-text {
  @extend .upload-progress-panel__canvas-text;
  grid-area: download-file-text;
}

$arrow-bounds-height: 128px;
$arrow-bounds-width: 128px;

$arrow-shaft-height: 6px;
$arrow-shaft-width: 124px;

$arrow-point-height: 24px;
$arrow-point-width: 24px;

$arrow-point-top-offset: -15px;
$arrow-point-left-offset: 28px;

.upload-progress-panel__arrow {
  position: relative;
  height: $arrow-bounds-height;
  width: $arrow-bounds-width;
}

// Arrow shaft
.upload-progress-panel__arrow::before {
  display: block;
  background: black;
  position: absolute;
  top: calc($arrow-bounds-height / 2) - calc($arrow-shaft-height / 2);
  left: 0px;
  height: $arrow-shaft-height;
  width: $arrow-shaft-width;
  content: '';
}

// Arrow point
.upload-progress-panel__arrow::after {
  display: block;
  border-color: black;
  border-style: solid;
  border-width: $arrow-shaft-height $arrow-shaft-height 0 0;
  position: absolute;
  top: calc($arrow-bounds-height / 2) + $arrow-point-top-offset;
  left: calc($arrow-bounds-width / 2) + $arrow-point-left-offset;
  height: $arrow-point-height;
  width: $arrow-point-width;
  transform: rotate( 45deg );
  content: '';
}

.upload-progress-panel__resize {
  @extend .upload-progress-panel__arrow;
  grid-area: resize;
}

.upload-progress-panel__reduce-colors {
  @extend .upload-progress-panel__arrow;
  grid-area: reduce-colors;
}

.upload-progress-panel__create-file {
  @extend .upload-progress-panel__arrow;
  grid-area: create-file;
}

$settings-padding: 2px;

.upload-progress-panel__settings {
  position: absolute;
  background: white;
  border: 1px solid gray;
  bottom: 0px;
  left: 0px;
  width: $arrow-bounds-width - ($settings-padding * 2);
  margin: 0;
  padding: $settings-padding;
  list-style-type: none;
  font-size: x-small;
}

.upload-progress-panel__resize-settings {
  @extend .upload-progress-panel__settings;
}

.upload-progress-panel__reduce-colors-settings {
  @extend .upload-progress-panel__settings;
}

.upload-progress-panel__create-file-settings {
  @extend .upload-progress-panel__settings;
}

.upload-progress-panel__arrow-text {
  font-style: italic;
}

.upload-progress-panel__resize-text {
  @extend .upload-progress-panel__arrow-text;
  grid-area: resize-text;
}

.upload-progress-panel__reduce-colors-text {
  @extend .upload-progress-panel__arrow-text;
  grid-area: reduce-colors-text;
}

.upload-progress-panel__create-file-text {
  @extend .upload-progress-panel__arrow-text;
  grid-area: create-file-text;
}