:host {
  flex: 1 1 auto;
  display: flex;
}

.uploads-panel {
  flex: 1 1 auto;
  display: flex;
}

.uploads-panel__file-input {
  display: none;
}

.uploads-panel__file-upload-drop-zone {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  border: medium dashed #aaaaaa;
  margin: 5px;
}

.uploads-panel__file-upload-drop-zone_drag-enter {
  background: rgba(0, 0, 0, 0.5);
}

.uploads-panel__uploads-container {
  display: flex;
  flex-direction: column;
}

.uploads-panel__instructions-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 5px;
}

.uploads-panel__instructions-text {
  font-size: xx-large;
  font-weight: bold;
}

.uploads-panel__choose-file-button {
  font-size: xx-large;
  font-weight: bold;
}